In [1]:
import requests
import pandas as pd

In [7]:
GEOCODE = '2919553'

In [11]:
url = f'https://apiprevmet3.inmet.gov.br/estacao/proxima/{GEOCODE}'
response = requests.get(url).json()
response

{'estacao': {'UF': 'BA',
  'CODIGO': 'A402',
  'LONGITUDE': '-45.02694443',
  'REGIAO': 'NE',
  'DISTANCIA_EM_KM': '105',
  'NOME': 'BARREIRAS',
  'LATITUDE': '-12.12472221',
  'GEOCODE': '2903201'},
 'dados': {'DC_NOME': 'BARREIRAS',
  'PRE_INS': None,
  'TEM_SEN': None,
  'VL_LATITUDE': '-12.12472221',
  'PRE_MAX': None,
  'UF': 'BA',
  'RAD_GLO': None,
  'PTO_INS': None,
  'TEM_MIN': None,
  'VL_LONGITUDE': '-45.02694443',
  'UMD_MIN': None,
  'PTO_MAX': None,
  'VEN_DIR': None,
  'DT_MEDICAO': '2021-07-16',
  'CHUVA': None,
  'PRE_MIN': None,
  'UMD_MAX': None,
  'VEN_VEL': None,
  'PTO_MIN': None,
  'TEM_MAX': None,
  'VEN_RAJ': None,
  'TEM_INS': None,
  'UMD_INS': None,
  'CD_ESTACAO': 'A402',
  'HR_MEDICAO': '2000'}}

In [13]:
estacao = response['dados']['CD_ESTACAO']

In [14]:
new_url = f'https://apitempo.inmet.gov.br/estacao/diaria/2000-01-01/2020-12-31/{estacao}'
json_response = requests.get(new_url).json()
dados_estacao = pd.DataFrame(json_response)
dados_estacao

,UMID_MED,DT_MEDICAO,DC_NOME,UMID_MIN,TEMP_MED,CHUVA,VL_LATITUDE,TEMP_MIN,TEMP_MAX,UF,VEL_VENTO_MED,CD_ESTACAO,VL_LONGITUDE
0,None,2000-01-01,BARREIRAS,None,None,None,-12.12472221,None,None,BA,None,A402,-45.02694443
1,None,2000-01-02,BARREIRAS,None,None,None,-12.12472221,None,None,BA,None,A402,-45.02694443
2,None,2000-01-03,BARREIRAS,None,None,None,-12.12472221,None,None,BA,None,A402,-45.02694443
3,None,2000-01-04,BARREIRAS,None,None,None,-12.12472221,None,None,BA,None,A402,-45.02694443
4,None,2000-01-05,BARREIRAS,None,None,None,-12.12472221,None,None,BA,None,A402,-45.02694443
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7666,74.2,2020-12-27,BARREIRAS,47,26.4,None,-12.12472221,21.2,32.2,BA,1.3,A402,-45.02694443
7667,73.3,2020-12-28,BARREIRAS,44,25.8,None,-12.12472221,19.5,32.3,BA,0.7,A402,-45.02694443
7668,72,2020-12-29,BARREIRAS,39,26.3,None,-12.12472221,20.3,33.6,BA,0.8,A402,-45.02694443
7669,66,2020-12-30,BARREIRAS,39,26.8,None,-12.12472221,20,33.9,BA,1,A402,-45.02694443
7670,65.4,2020-12-31,BARREIRAS,31,26.7,None,-12.12472221,18.7,34.8,BA,1,A402,-45.02694443

In [15]:
dados_estacao['CHUVA'] = dados_estacao['CHUVA'].astype(float)
dados_estacao['DT_MEDICAO'] = pd.to_datetime(dados_estacao['DT_MEDICAO'])
dados_estacao['ANO'] = dados_estacao['DT_MEDICAO'].dt.year
dados_estacao['MES'] = dados_estacao['DT_MEDICAO'].dt.month
dados_estacao

,UMID_MED,DT_MEDICAO,DC_NOME,UMID_MIN,TEMP_MED,CHUVA,VL_LATITUDE,TEMP_MIN,TEMP_MAX,UF,VEL_VENTO_MED,CD_ESTACAO,VL_LONGITUDE,ANO,MES
0,None,2000-01-01,BARREIRAS,None,None,NaN,-12.12472221,None,None,BA,None,A402,-45.02694443,2000,1
1,None,2000-01-02,BARREIRAS,None,None,NaN,-12.12472221,None,None,BA,None,A402,-45.02694443,2000,1
2,None,2000-01-03,BARREIRAS,None,None,NaN,-12.12472221,None,None,BA,None,A402,-45.02694443,2000,1
3,None,2000-01-04,BARREIRAS,None,None,NaN,-12.12472221,None,None,BA,None,A402,-45.02694443,2000,1
4,None,2000-01-05,BARREIRAS,None,None,NaN,-12.12472221,None,None,BA,None,A402,-45.02694443,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7666,74.2,2020-12-27,BARREIRAS,47,26.4,NaN,-12.12472221,21.2,32.2,BA,1.3,A402,-45.02694443,2020,12
7667,73.3,2020-12-28,BARREIRAS,44,25.8,NaN,-12.12472221,19.5,32.3,BA,0.7,A402,-45.02694443,2020,12
7668,72,2020-12-29,BARREIRAS,39,26.3,NaN,-12.12472221,20.3,33.6,BA,0.8,A402,-45.02694443,2020,12
7669,66,2020-12-30,BARREIRAS,39,26.8,NaN,-12.12472221,20,33.9,BA,1,A402,-45.02694443,2020,12
7670,65.4,2020-12-31,BARREIRAS,31,26.7,NaN,-12.12472221,18.7,34.8,BA,1,A402,-45.02694443,2020,12

In [16]:
dados_estacao.loc[dados_estacao['ANO']==2010].groupby(['ANO', 'MES'])['CHUVA'].mean()

ANO   MES
2010  1      1.929032
      2      3.121429
      3      7.000000
      4      3.013333
      5      0.400000
      6      0.000000
      7      0.000000
      8      0.000000
      9      0.000000
      10     3.380645
      11     6.060000
      12     7.180645
Name: CHUVA, dtype: float64

In [17]:
dados_estacao.loc[(dados_estacao['DT_MEDICAO'] >= '2010-11-1') & (dados_estacao['DT_MEDICAO'] <= '2011-4-30')].groupby(['ANO', 'MES'])['CHUVA'].mean()

ANO   MES
2010  11     6.060000
      12     7.180645
2011  1      7.754839
      2      4.985714
      3      6.482759
      4      1.013333
Name: CHUVA, dtype: float64

In [18]:
dados_estacao.groupby(['ANO', 'MES'])['CHUVA'].mean()

ANO   MES
2000  1       NaN
      2       NaN
      3       NaN
      4       NaN
      5       NaN
             ...
2020  8      0.00
      9      0.02
      10      NaN
      11      NaN
      12      NaN
Name: CHUVA, Length: 252, dtype: float64